<h1>Insert info of the new book down below : </h1>

<td><tb><b>isbn&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>title&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>publisher&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>page_number&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>language&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>image&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>summary</b></tb></td>
        
<form method="POST" action="">
    {{form.isbn}}
    {{form.title}}
    {{form.publisher}}
    {{form.page_number}}
    {{form.language}}
    {{form.image}}
    {{form.summary}}
    {{form.submit}}
    
</form>
