<h1>Insert info of the new School Library down below : </h1>

<td><tb><b>school_name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>street_name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>street_number&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>postal_code&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>city&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>email_address&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>phone_number&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
<td><tb><b>principal_name</b></tb></td>
        
<form method="POST" action="">
    {{form.school_name}}
    {{form.street_name}}
    {{form.street_number}}
    {{form.postal_code}}
    {{form.city}}
    {{form.email_address}}
    {{form.phone_number}}
    {{form.principal_name}}
    {{form.submit}}
    
</form>
