<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Welcome to Our Library Web APP !</h1>
        <a href="{{url_for('register')}}">Register Page</a><br>
        <h2>If already registered, Log in !</h2>

        <td><tb><b><u>Username</u>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
        <td><tb><b><u>Password</u></b></tb></td>

        <form method="POST" action="">
            {{form.username}}
            {{form.password}}
            {{form.submit}}
            
        </form>

        {% with messages = get_flashed_messages() %}
            {%if messages %}
             {% for msg in messages %}
                <p>{{msg}}</p>
             {% endfor %}
         {% endif %} 
         {% endwith %}       


        {% block mainContent %} {% endblock %}
    </body>

    
 </html>