<h1>Do you want to change your personal Information? : </h1>

    <td><tb><b>username&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
    <td><tb><b>fname&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
    <td><tb><b>lname&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b></tb></td>
    <td><tb><b>pword</b></tb></td>

    <tr>
        
    <form method="POST" action="">
        {{form.username}}
        {{form.first_name}}
        {{form.last_name}}
        {{form.passw}}
        {{form.submit}}
        
    </form>

    </tr>